@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700|Open+Sans|Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Muli', sans-serif;
    background-image: url('../img/background2.png');
    background-attachment: fixed;
}

header {
    height: 100%;
    background: url('../img/background.png');
    background-color: #F5F2E9;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

header .header-container {
    width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: auto 600px;
    padding-top: 50px;
    grid-template-areas: "header-nav ."
                         "hero .";
}

header .header-container .header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header-nav;
}

header .header-container .header-nav .logo {
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    color: #452268;
    font-size: 40px;
}

header .header-container .header-nav nav ul {
    list-style: none;
    display: flex;
}

header .header-container .header-nav nav ul li a {
    text-decoration: none;
    color: #ABADAE;
    font-weight: bold;
    margin-right: 30px;
}

header .header-container .header-nav nav ul li a:hover {
    color: #0A4065;
}

header .header-container .hero {
    grid-area: hero;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .header-container .hero .hero-text h2 {
    font-size: 56px;
    font-weight: 300;
    color: #255A7E;
}

header .header-container .hero .hero-text p {
    margin: 60px 0;
    color: #0C3653;
}

header .header-container .hero .hero-buttons {
    display: flex;
    width: 100%;
    align-items: center;
}

header .header-container .hero .hero-buttons .order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 200px;
    background-color: #F98169;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 12px 20px 0px rgba(249,129,105,1);
    margin-right: 50px;
    transition: .3s;
}

header .header-container .hero .hero-buttons .order-button:hover {
    transform: scale(1.1);
    transition: .3s;
}

header .header-container .hero .hero-buttons .ns-button {
    color: #ABADAE;
    font-size: 18px;
    text-decoration: none;
    margin-right: 50px;
}

header .header-container .hero .hero-buttons .ns-button:hover {
    color: #0A4065;
}

header .header-container .hero .hero-buttons .play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 60px;
    width: 60px;
    background-color: #F98169;
    border-radius: 100px;
    box-shadow: 0px 12px 20px 0px rgba(249,129,105,1);
    transition: .3s;
}

header .header-container .hero .hero-buttons .play-button:hover {
    transform: scale(1.1);
    transition: .3s;
}

/* THIS IS THE END OF THE HEADER */

/* THIS IS ABOUT US SECTION */

.about-us {
    height: 100%;
    margin: 0;
}

.about-us .about-us-container {
    width: 1024px;
    margin: 0 auto;
    padding-top: 100px;
}

.about-us .about-us-container .image-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "img1 texts1";
    height: 600px;
    grid-gap: 0 50px;
    align-items: center;
}

.about-us .about-us-container .image-1 img {
    grid-area: img1;
    border-radius: 100px 0 100px 0;
    height: 90%;
    max-height: 675px;
}

.about-us .about-us-container .image-1 .texts {
    grid-area: texts1;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-us .about-us-container .image-1 .texts h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0C3653;
    font-size: 32px;
}

.about-us .about-us-container .image-1 .texts p {
    color: #8B8E8F;
    font-size: 16px;
    margin: 50px 0;
}

.about-us .about-us-container .image-1 .texts a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 250px;
    background-color: #F98169;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 12px 20px 0px rgba(249,129,105,1);
    margin-right: 50px;
    transition: .3s;
}

.about-us .about-us-container .image-1 .texts a:hover {
    transform: scale(1.1);
    transition: .3s;
}

/* THIS IS IMAGE 2 */

.about-us .about-us-container .image-2 {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-areas: "texts2 img2";
    height: 600px;
    grid-gap: 0 40px;
    padding: 50px 0;
}

.about-us .about-us-container .image-2 .img2-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img2 img3"
                         "img4 img5";
    grid-gap: 10px;                  
}

.about-us .about-us-container .image-2 .img2 {
    grid-area: img2;
    width: 80%;
    justify-self: end;
    align-self: end;
    /* border-radius: 100px 0 100px 0; */
    /* height: 100px; */
}

.about-us .about-us-container .image-2 .img3 {
    grid-area: img3;
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
    /* justify-self: end; */
    align-self: end;
}

.about-us .about-us-container .image-2 .img4 {
    grid-area: img4;
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
    justify-self: end;
}

.about-us .about-us-container .image-2 .img5 {
    grid-area: img5;
    width: 80%;
}

.about-us .about-us-container .image-2 .texts {
    grid-area: texts2;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-us .about-us-container .image-2 .texts h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0C3653;
    font-size: 32px;
}

.about-us .about-us-container .image-2 .texts p {
    color: #8B8E8F;
    font-size: 16px;
    margin: 50px 0;
}

.about-us .about-us-container .image-2 .texts a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 250px;
    background-color: #F98169;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 12px 20px 0px rgba(249,129,105,1);
    margin-right: 50px;
    transition: .3s;
}

.about-us .about-us-container .image-2 .texts a:hover {
    transform: scale(1.1);
    transition: .3s;
}

/* SECTION VIDEO */

.video .container-video {
    display: block;
    width: 900px;
    height: 400px;
    margin: 100px auto;
    background-image:  url("../img/background3.png");
    border-radius: 10px;
    transition: .3s;
}

.video .container-video:hover {
    transform: scale(1.1);
    transition: .3s;
}

.video .container-video:hover .video .text a {
    background-color: white;
    color: #0C3653;
}

.video .container-video .video {
    background-color: rgba(10,64,101,.5);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.video .container-video .video .text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video .container-video .video .text h3 {
    font-size: 36px;
    margin-bottom: 40px;
}

.video .container-video .video .text p {
    margin: 0;
}

.video .container-video .video .text p a {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    height: 50px;
    width: 50px;
    border: 2px solid #fff;
    border-radius: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/* THIS IS THE MENU */

.menu .menu-container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu .menu-container .titulo-principal {
    font-size: 36px;
    color: #0C3653;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
}

.menu .menu-container .descripcion-principal {
    color: #AEB2B4;
    margin: 0px 0px 50px 0px;
    width: 60%;
    text-align: center;
}

.menu .menu-container .menu-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 30px;
}

.menu .menu-container .menu-display .menu-item img {
    height: 225px;
}

.menu .menu-container .menu-display .menu-item {
    box-shadow: 0px 17px 16px 0px rgba(222,222,222,1);
    background-color: white;
    width: 320px;
    height: 360px;
    border-radius: 10px;
    transition: .3s;
}

.menu .menu-container .menu-display .menu-item:hover {
    transform: scale(1.1);
    transition: .3s;
}

.menu .menu-container .menu-display .menu-item .titulo1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.menu .menu-container .menu-display .menu-item .titulo1 h3 {
    color: #0C3653;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
}

.menu .menu-container .menu-display .menu-item .titulo1 p {
    color: #F98169;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
}

.menu .menu-container .menu-display .menu-item .description {
    color: #AEB2B4;
    font-size: 16px;
    padding: 0 30px;
}


.menu .menu-container a {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 250px;
    background-color: #F98169;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 12px 20px 0px rgba(249,129,105,1);
    margin-right: 50px;
    transition: .3s;
}

.menu .menu-container a:hover{
    transform: scale(1.1);
    transition: .3s;
}

/* THIS IS RECIPES */

.recipes .recipes-container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.recipes .recipes-container .titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0C3653;
    font-size: 36px;
    margin: 50px 0;
}

.recipes .recipes-container .recipes-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 0px 30px;
}

.recipes .recipes-container .recipes-menu .img .img-display {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.recipes .recipes-container .recipes-menu .img .img-display img {
    width: 350px;
    height: 350px;
}

.recipes .recipes-container .recipes-menu .img .img-display .img-in{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 0 0 20px 20px;
}

.recipes .recipes-container .recipes-menu .img .img-display .img-in .button a {
    color: white;
    text-decoration: none;
}

.recipes .recipes-container .recipes-menu .img .img-display:hover .img-in .button {
    position: absolute;
    height: 30px;
    width: 50px;
    background-color: #F98169;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.recipes .recipes-container .recipes-menu .img .img-display:hover .img-in {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(11,49,75,.5);
    transition: .3s;

}

/* THIS IS CONTACT */

.contact .contact-container {
    width: 1024px;
    height: 300px;
    margin: 80px auto;
    box-shadow: 0px 17px 16px 0px rgba(222,222,222,1);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact .contact-container .titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0C3653;
    font-size: 36px;
    margin-bottom: 50px;
}

.contact .contact-container form {
    width: 70%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contact-container form [type=text] {
    display: inline-block;
    background-color: #F9FBFB;
    border: 0;
    width: 70%;
    margin: 0;
    padding: 0;
    height: 80px;
    border-radius: 10px 0px 0px 10px;
    padding: 40px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: inherit;
}

.contact .contact-container form [type=text]:focus {
    outline: none;
}

.contact .contact-container form a {
    display: inline-block;
    width: 30%;
    margin: 0;
    padding: 0;
    height: 80px;
    background-color: #F98169;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 10px 10px 0px;
    font-weight: bold;
    font-size: 20px;
}

.contact .contact-container form a:hover {
    background-color: #E46F58;
}

.contact .contact-container form a i {
    margin-left: 10px;
}

/* THIS IS THE FOOTER */

footer .footer-container {
    width: 1024px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: auto auto;
    padding-top: 50px;
    grid-template-areas: "hr1 ."
                         "header-nav ."
                         "hr2 ."
                         "social .";
    grid-gap: 15px 0;
}

footer .footer-container .header-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header-nav;
}

footer .footer-container .hr1 {
    grid-area: hr1;
    opacity: .3;
}

footer .footer-container .hr2 {
    grid-area: hr2;
    opacity: .3;
}

footer .footer-container .header-nav .logo {
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    color: #452268;
    font-size: 40px;
}

footer .footer-container .header-nav nav ul {
    list-style: none;
    display: flex;
}

footer .footer-container .header-nav nav ul li a {
    text-decoration: none;
    color: #ABADAE;
    font-weight: bold;
    margin-right: 30px;
}

footer .footer-container .header-nav nav ul li a:hover {
    color: #0A4065;
}

footer .footer-container .social-media {
    grid-area: social;
}

footer .footer-container .social-media nav ul {
    list-style: none;
    display: flex;
}

footer .footer-container .social-media nav ul li {
    margin-right: 20px;
}

footer .footer-container .social-media nav ul li a {
    color: #CAD2D6;
    text-decoration: none;
}

footer .footer-container .social-media nav ul li a:hover {
    color: #0B314B;
}